*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmgDGQ_J9zHLcsFvA7Q0ABVvqwB5VsN9h2DA&s");
    font-family:  'Arial', 'sans-serif'; /*alterar fonte*/
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    background-color: rgba(255, 129, 144, 0.927);
}

a{
    font-size: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

a:hover{
    text-decoration: underline;
}

.Sobre ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.Sobre li{
    list-style: none;
}